/* CSS FOR INDEX */
.container-fluid
{
	padding:0px 15px 0px 15px;
}

.content_main_division
{
	display:none;
	position:fixed;
	top:71px;
	background-color:#DCDCDC;
	margin-bottom:30px;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	z-index:20;
}


/* CSS FOR INDEX */






/* CSS FOR CURRENT STOCK */







/* CSS FOR CURRENT STOCK */




/* CSS FOR ADD STOCK */


/* CSS FOR ADD STOCK */














/* CSS FOR WASTAGE STOCK */



/* CSS FOR WASTAGE STOCK */