<div ng-controller="ModalController">
    
    <div class="action-pane">
        <button ng-click="open()">Create Model</button> 
    </div>
      
    <script type="text/ng-template" id="createModel.html">
        <div class="modal-header">
            <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Create: Model</h4>
        </div>
        
        <form ng-submit="submit()">
        
          <div class="modal-body">
          <div class="form-group">
            <label>Model name</label>
            <input type="text" ng-model="model.model_name" />
            <label>Model brand</label>
            <input type="text" ng-model="model.model_brand" />
          </div>
          </div>
          
          <div class="modal-footer">
              <button class="btn btn-default" ng-click="cancel()">Cancel</button>
              <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
        </form> 
    </script>
    
    
</div>