<style>
    img.ui-datepicker-trigger {
        margin-top: -60px;
        margin-left: 325px;
        height: 35px;
        width: 30px;
    }

input.form-control.ng-pristine.ng-untouched.ng-valid {
width: 355px;
}
</style>



<div class="panel panel-default">
  <div class="panel-heading">Vehicle's Service Logs </div>
  <div class="panel-body" style="margin-left:0%;background:#fff">
        <div ng-controller="vehicleServiceController"> 
    <div ng-show="vehicle_service_list_action">
        <table style="background:#fff;margin-left:0%;width:100%;text-align:left; font-size:13px;" class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>

                        <!--                        <input type="checkbox" ng-checked="schk" ng-model="schk" ng-change="s_check_uncheck_all()"/>
                        -->
                        #
                    </th>

                    <th>Date</th>
                    <th>Vehicle</th>
                    <th>Cost Type</th>
                    <th>Purchaser</th>
                    <th>Supplier</th>
                    <th>Invoice Reference</th>
                    <th>Notes</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='vehicle in vservice'>
                    <td>{{$index + 1}}
                        <!--                        <input type="checkbox" ng-model='schk_unchk' ng-change="scheck_uncheck()"/>
                        -->
                    </td>
                    <td>{{vehicle.date}}</td>
                    <td>{{getVehicle(vehicle.vehicle_id)}}</td>
                    <td>{{getCostType(vehicle.cost_type_id)}}</td>
                    <td>{{getPurchaser(vehicle.purchaser_id)}}</td>
                    <td>{{vehicle.supplier}}</td>
                    <td>{{vehicle.invoice_reference}}</td>
                    <td>{{vehicle.notes}}</td>
                    <td>{{vehicle.totalprice| currency:"&#8377;"}}</td>
                </tr>

                <tr>
                    <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
                    <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td>   
                    <td>&nbsp;</td> <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
                    <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td>   
                    <td><strong>Total:</strong></td>
                    <td><strong>{{totalprice| currency:"&#8377;"}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>



    <div ng-show='btn_vehicle_service_create'>
        <!-- <div style="display: inline-block;float: left;">
            <h3 style="margin-left: 10px;margin-top: 10px;">Vehicle's Service Logs List</h3>
        </div> -->
        <div style="display: inline-block;float: right;padding-right:10px; ">
            <button class="btn btn-default" style="margin-left: 10px;margin-top: 10px;" ng-click="vehicle_service_create()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Service Log
            </button>
        </div> 
    </div>

    <div>
        
        <div ng-show="add_new_vehicle_service">
            <table > 
                <tr>  
                    <td width="50%" style="vertical-align: top;">
                        <table class="table-responsive">
                            <thead> <p class="horizontal_heading heading-pad">  Services Details </p></thead>
                            <tbody>
                                <tr>
                                    <td><label class="label-pad control-label">Vehicle</label></td>
                                    <td>
                                        <input ng-hide="true" type="text" ng-model="vehicleService.vehicle_id"/>
                                        <input style="width:350px;"  required class="form-control" type="text" typeahead-on-select="set_vehicle($item)" ng-model="vehicleService.vehicle" typeahead="item.model_brand as (item.model_brand+' / '+item.model_name+' / '+ item.licence_plate) for item in service_vehicles | filter:$viewValue | limitTo:10" placeholder="Select vehicle">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-pad control-label">Service Type</label></td>
                                    <td>
                                        <input ng-hide="true" type="text" ng-model="vehicleService.cost_type_id"/>
                                        <input required class="form-control" type="text" ng-model="vehicleService.type" typeahead-on-select="set_serviceType($item)" typeahead="item.type for item in service_costType | filter:$viewValue | limitTo:10" placeholder="Select service type" >
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-pad control-label">Total Price</label></td>
                                    <td><input required class="form-control" type="text" ng-model="vehicleService.totalprice" placeholder="Enter cost price"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>


                    <td width="50%" style="vertical-align: top;padding-left: 3%;">
                        <table class="table-responsive">
                            <thead> <p class="horizontal_heading heading-pad"> Odometer Details </p></thead>
                            <tbody>
                                <tr>
                                    <td><label class="label-pad control-label" style="margin-left:2px;padding-top: 10px;">Odometer Value</label></td>
                                    <td><input style="width:325px;" class="form-control" type="text" ng-model="vehicleService.odometer" placeholder='0.00'/></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>  



                <tr>
                    <td width="50%" style="vertical-align: top;">
                        <table class="table-responsive">
                            <thead> <p class="horizontal_heading heading-pad"> Additional Details </p></thead>
                            <tbody>
                                <tr>
                                    <td><label class="label-pad control-label">Purchaser</label></td>                
                                    <td>
                                        <input type="text" ng-show="false" ng-model="vehicleService.purchaser_id">
                                        <input placeholder="Select purchaser or driver"class="form-control" type="text" typeahead-on-select="set_purchaser($item)" ng-model="vehicleService.purchaser" typeahead="item.name for item in purchasers | filter:$viewValue | limitTo:10">
                                    </td>
                                </tr> 
                                
                                <tr>
                                    <td><label class="label-pad control-label">Supplier</label></td>
                                    <td><input placeholder="Enter supplier" class="form-control" type="text" ng-model="vehicleService.supplier" /></td>
                                </tr> 

                                <tr>
                                    <td><label class="label-pad control-label">Invoice Reference </label></td>
                                    <td><input placeholder="Enter invoice reference (if applicable)" class="form-control" type="text" name="invoice_reference" ng-model="vehicleService.invoice_reference"></td>
                                </tr> 

                                <tr>
                                    <td><label class="label-pad control-label">Date</label></td>
                                    <td><input class="form-control" type="text" ng-model="vehicleService.date" date-picker placeholder="Select date"/></td>
                                </tr> 

                            </tbody>
                        </table>
                    </td>

                    <td width="50%" style="vertical-align: top;padding-left: 3%;">
                        <div class="form-group controls">
                            <label class="horizontal_heading heading-pad label-pad control-label" for='vehicle-service-notes'>Notes</label>
                            <textarea ng-model="vehicleService.notes" style="height: 168px;width: 100%" id='vehicle-service-notes' placeholder="Write here any other information..."  name="notes" rows="6" class="form-control input-no-width rounded shaded left clearboth"></textarea>
                        </div>                      
                    </td>
                </tr>
            </table> 

            <div ng-show='save_cancel_div_toggle'>
                <button class="btn btn-primary" type="button" ng-click="vehicle_service_save()">
                    <span class="glyphicon glyphicon-ok-circle"></span> Save
                </button>
                <button class="btn btn-warning" type="button" ng-click="vehicle_service_cancel()">
                    <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                </button> 
            </div>

        </div>

        <div ng-show='save_cancel_div_toggle'></div>
    </div>
</div>


  </div>
</div>





